.carousel
  max-height: 90vh
  .carousel-inner
    .item
      img
        height: 90vh
        width: 100vw
        object-fit: cover
        margin 0 auto
        -webkit-filter brightness(70%) contrast(120%) saturate(120%)
        filter: brightness(70%) contrast(120%) saturate(120%)

  .carousel-indicators
    .active
      width: 4px
      height: 4px
    li
      width: 3px
      height: 3px
      margin: 5px
