h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand',sans-serif;
}
p, div {
  font-family: 'Quicksand', sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.btn {
  border-radius: 0px !important;
}

.dyno {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .content-wrapper {
    margin-left: 200px;
    margin-right: 200px;
  }
}

