@require './standard.styl'

button, .btn, .btn-default
  background-color $primary
  border-color $primary
  color $font-color-light
  &:hover
    background-color $primary
    border-color $primary


