
/* Font */
@import url(https://fonts.googleapis.com/css?family=Quicksand)
$font-family            = Quicksand, sans-serif
$font-size              = 14px
$font-color-light       = rgb(255,255,255)
$font-color-dark        = rgb(0,0,0)


/* Colors */
$primary                = rgb(102,0,0)
$secondary              = rgb(255,255,255)
$primary-transparent    = alpha($secondary, .95)



