
/* Font */
@import url(https://fonts.googleapis.com/css?family=Quicksand)
$font-family            = Quicksand, sans-serif
$font-size              = 14px
$font-color             = rgb(255,255,255)      // white


/* Colors */
$primary                = rgb(102,0,0)          // dark red
$secondary              = rgb(255,255,255)      // white
$primary-transparent    = rgba(102,0,0, .95)    // dark red transparent


