/* Style Standards & typography */
@import 'settings'

$golden-ratio = 1.61803398875

@font-face
  font-family $font-family
  font-style normal

/* Reset font-family */
h1, h2, h3, h4, h5, h6
  font-family $font-family
  color $font-color-light

p, div, a
  font-family $font-family
  color $font-color-light
  line-height $golden-ratio
a:hover
  text-decoration none

li
  list-style unstyled

.content-wrapper
  @media screen and (min-width: 768px)
    margin auto 20% auto

