<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Basic Page Needs
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>Sabor: Columbia University's First Latino Dance Troupe</title>
		<meta name="description" content="Sabor: Columbia University's First Latino Dance Troupe is one of the largest Latino-focused organizations on Columbia's campus. In addition to Latin dance styles, Sabor also performs hip-hop, reggaeton, jazz, modern, Indian, Caribbean, and other styles of dance.">
		<meta name="author" content="Sabor">

		<!-- Mobile Specific Metas
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Ideally these kinds of assets (below) should also be handled with npm and webpack, but whatever for now. -->

		<!-- Bootstrap Core Framework
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<!-- Font Awesome Framework
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<script src="https://use.fontawesome.com/4e0ae692f8.js"></script>

	</head>
	<body>

		<!-- Primary Page Layout
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div id="root" style="height: 100vh; display: flex; align-items: center;">
			<div style="width: 100%; text-align: center;">
				<i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
			</div>
		</div>

		<!-- Webpack Manifest
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<%= htmlWebpackPlugin.files.webpackManifest %>

		<!-- Webpack Chunk Manifest
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<%= htmlWebpackPlugin.files.webpackChunkManifest %>

	</body>
</html>
