.modal-content
  list-style: none
  color: white
  background-color: transparent !important
  background: rgba(102,0,0, .95) !important
  border-radius: 0px !important
  li
    list-style: none

  .modal-section
    margin: 5px

  .modal-picture
    display: inline-block
    vertical-align: top
    img
      object-fit: cover

  .modal-info
    display: inline-block
    margin-left: 10px


  .close
    color: white !important
    text-shadow: 0 1px 0 white !important

  .modal-footer
    a
      font-size: 21px !important
      font-weight: 700 !important
      line-height: 1 !important
      color: white !important
      text-shadow: 0 1px 0 white !important
      &:hover
        text-decoration none !important
