@require '../../styles/standard.styl'

.modal
  .modal-content
    list-style: none
    color: white
    background-color: transparent
    background: rgba(102,0,0, .95)
    border-radius: 0px
    li
      list-style: none

    .modal-section
      margin: 5px
      .modal-picture
        display: inline-block
        // vertical-align: top
        img
          object-fit: cover

      .modal-info
        display: inline-block
        margin 0 1em
        font-size $font-size

    .modal-description
      text-align: justify
      margin 0 3em


    .close
      color: white
      text-shadow: 0 1px 0 white

