.image
  position absolute
  top 0
  height 50px
  min-width 100px
  background-size contain
  background-repeat no-repeat
.responsive-brand
  display block
.fixed-top-responsive
  top 0
  border-width 0 0 1px
  position fixed
  right 0
  left 0
  z-index 1030
.tight
  margin-bottom 0px

@media (min-width: 768px)
  .center-links
    display inline-block
    float none
    margin 0 auto
  .center-links-collapse
    text-align center
  .responsive-brand
    display none
  .fixed-top-responsive
    position relative
    margin-bottom 0px
  .nav-item-spacer
    margin 0 30px
  .container-fluid
    padding-right 15px
    padding-left 15px
    margin-right auto
    margin-left auto
  .tight
    margin-bottom 0px
  .blue
    color blue
