<div style="display:block; width:1280px; height:960px; background:url(http://www.psdgraphics.com/file/glowing-world-map-1280x960.jpg); position:relative; margin:2px auto 2px auto;">
	<div><a style="left:402px; top:481px; background:transparent; display:block; width:30px; height:0; padding-top:27px; overflow:hidden; position:absolute;" title="bachata" 
href="http://www.youtube.com/user/sabordancetroupe#p/a/bf195ec79b4145b8/0/dp7kfw8qy-a"></a></div>
	<div><a style="left:1278px; top:958px; background:transparent; display:block; width:202px; height:17px; overflow:hidden; position:absolute; font-size:0px;"></a></div>
</div>

<!-- Image map text links - Start - If you do not wish to have text links under your image map, you can move or delete this DIV -->
<div style="text-align:center; font-size:12px; font-family:verdana; margin-left:auto; margin-right:auto; width:1280px;">
	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="http://www.youtube.com/user/sabordancetroupe#p/a/bf195ec79b4145b8/0/dp7kfw8qy-a" 
title="bachata">bachata</a>
 | 	<a style="text-decoration:none; color:black; font-size:12px; font-family:verdana;" href="http://www.image-maps.com/index.php?aff=mapped_users_6201008301218436" title="Image Map">Image 
Map</a>
</div>
<!-- Image map text links - End - -->

            
